.todo_List {
  text-align: center;
}

.format {
  color: 'white';
  background-color: 'DodgerBlue';
  padding: '10px';
  font-family: 'Arial';
}

/* position: 'absolute', 
  left: '20%', 
  top: '30%',
  transform: 'translate(-50%, -50%)' */
